<app-nav-bar></app-nav-bar>

<div class="mx-5">
  <div class="container my-5  bg-white rounded d-flex justify-content-center position-relative shadow-sm">
    <div class="row">
      <div class="position-absolute top-0 end-0 pt-3 pe-auto">
        <fa-icon [icon]="faArrowLeft" routerLink="/person-vaccinee/person" role="button"></fa-icon>
      </div>
      <h5 class="mt-3 mb-5 col-lg-12 text-center">Ajouter un nouveau vaccinee</h5>

      <form [formGroup]="form" (ngSubmit)="submit()" class="col-lg-12 p-3">
        <div class="row">

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12 ">
            <label for="nni" class="form-label">NNI:</label>
            <input formControlName="nni" id="nni" type="number" class="form-control" placeholder="votre NNI" maxlength="10">

          </div>


          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="name" class="form-label">Nom:</label>
            <input formControlName="name" id="name" type="text" class="form-control" placeholder="votre nom">

          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="prenom" class="form-label">Prénom:</label>
            <input formControlName="prenom" id="prenom" type="text" class="form-control" placeholder="votre prenom">

          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="numtel" class="form-label">Num tel:</label>
            <input formControlName="numtel" id="numtel" type="tel" class="form-control" placeholder="votre numéro telephone" maxlength="8">

          </div>


          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="age" class="form-label">Age:</label>
            <input formControlName="age" id="age" type="number" class="form-control" placeholder="votre age">
          </div>
          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="sex" class="form-label">Sex:</label>
            <select class="form-select" formControlName="sex" id="sex">
              <option value="" disabled selected>Selectionnez votre sex</option>
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
            </select>

          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="nomvaccin" class="form-label">Nom de vaccin:</label>
            <select class="form-select" formControlName="nomvaccin" id="nomvaccin">
              <option value="" disabled selected>Selectionnez le vaccin</option>
              <option value="{{nom.nom}}" *ngFor="let nom of nomVaccin">{{nom.nom}}</option>
            </select>
          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="nbrdose" class="form-label">Nombr de dose:</label>
            <input formControlName="nbrdose" id="nbrdose" type="number" class="form-control" placeholder="C'est votre quelle dose">

          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="terminervaccin" class="form-label">Terminer le vaccin:</label>
            <select class="form-select" formControlName="terminervaccin" id="terminervaccin">
              <option value="" disabled selected>C'est votre dernier dose ?</option>
              <option value="Non" selected>Non</option>
              <option value="Oui">Oui</option>
            </select>

          </div>

          <div class="mb-2 col-lg-6 col-md-6 col-sm-12">

            <label for="lieu" class="form-label">Lieu:</label>
            <select class="form-select" formControlName="lieu" aria-label="Default select example">
              <option value="" disabled selected>Selectionnez le centre</option>
              <option value="{{centre.nom + '--' + centre.wilayaa + '--' + centre.mougataa}}" *ngFor="let centre of nomCentre">{{centre.nom}} -- {{centre.wilayaa}} -- {{centre.mougataa}}</option>
            </select>
          </div>



          <div class="ms-lg-5 ms-md-5">
            <div class="my-4 col-lg-6 col-md-6 col-sm-12 text-center ms-lg-5 ms-md-5">

              <button class="btn btn-success ms-lg-5 ms-md-5" type="submit">Ajouter</button>
            </div>
          </div>
        </div>
      </form>
    </div>

