<div class="footer py-5 text-white-50 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="info mb-5">
         
          <div class="copyright">
            <p>Créé par <span class="text-white fw-semibold">Syskat Technology</span></p>
            <div>&copy; {{year}} - <span>Inc</span></div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="links">
          <h5 class="text-light">Links</h5>
          <ul class="list-unstyled lh-lg row">
            <li ><a routerLink="/stock" class="links">Les Stocks</a></li>
            <li ><a routerLink="/stock/create" class="links">Ajouter un stocks</a></li>
            <li ><a routerLink="/person-vaccinee/person" class="links">Les vaccinées</a></li>
            <li ><a routerLink="/person-vaccinee/new" class="links">Ajouter un vaccinée</a></li>
            <li class="col-lg-10 mt-lg-4" routerLink="/profile/{{id}}">
              <div class="box mb-3"  data-work="Profile">
                <a class="btn border rounded-pill w-100 text-white profile" data-work="Profile">{{email}}
                  <small class="text-muted" *ngIf="userType == 1">Admin</small> <small class="text-muted"
                    *ngIf="userType == 0">User</small>
                  </a>

              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
