

<app-navbar></app-navbar>



<div class="container bg-white position-relative  my-5 px-5 pb-5 pt-2 rounded shadow-sm">
  <h6 class="position-absolute top-0 start-0 translate-middle">Le structure sanitaire</h6>


  <div>
    <div class="position-absolute top-0 end-0 mt-2 me-2 add-btn ms-3">
     <button type="button" class="btn btn-outline-primary py-2" routerLink="/admin/add-centre">Ajouter nouveaux centres</button>
   </div>

   <!-- search bar -->
   <div class="input-group row w-50 me-4 d-flex align-items-center justify-content-center">
     <div class="form-outline col-lg-12 col-md-12">
       <input type="search" id="form1" class="form-control" placeholder=Recherche class="form-control" [(ngModel)]="searchText"/>
     </div>
   </div>
   </div>
   <div class="table-responsive fs-sm-5 ">

<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de Centre</th>
      <th scope="col">Wilayaa</th>
      <th scope="col">Mougataa</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody  *ngIf="centres.length">
    <tr *ngFor="let centre of centres | search : searchText ;let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{centre.nom}}</td>
      <td>{{centre.wilayaa}}</td>
      <td>{{centre.mougataa}}</td>
      <td>{{centre.type}}</td>
      <td><button class="btn btn-info" routerLink="/admin/edit-centre/{{centre.id}}">Edit</button>&nbsp; <button class="btn btn-danger" (click)="deleteCentre(centre.id)" >Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
