<app-nav-bar></app-nav-bar>

<div class="mx-5">
  <div class="container bg-white rounded d-flex justify-content-center position-relative shadow-sm">
    <div class="row">
      <div class="position-absolute top-0 end-0 pt-3 pe-auto">
        <fa-icon [icon]="faArrowLeft" routerLink="/stock" role="button"></fa-icon>
      </div>
      <h5 class="mt-3 mb-5 col-lg-12 text-center">Modifier les info du stock</h5>

      <form [formGroup]="form" (ngSubmit)="submit()" class="col-lg-12 p-3">
        <div class="row">

          <div class="form-group mb-2 col-lg-6 px-3">
            <label for="nomvaccin" class="form-label">Nom de vaccin:</label>
            <select class="form-select" formControlName="nomvaccin" aria-label="Default select example">
              <option value="" disabled selected>Selectionnez le vaccin</option>
              <option value="{{nom.nom}}" *ngFor="let nom of Vaccin">{{nom.nom}}</option>
            </select>
          </div>

          <div class="mb-2 col-lg-6 px-3">
            <label for="quantite" class="form-label">Quantité:</label>
            <input formControlName="quantite" [(ngModel)]="stock.quantite" id="quantite" type="number" class="form-control">
          </div>

          <div class="form-group mb-2 col-lg-6 px-3">
            <label for="lieu" class="form-label">Lieu:</label>
            <select class="form-select" formControlName="lieu" aria-label="Default select example">
              <option value="" disabled selected>Selectionnez le lieu</option>
              <option value="{{centre.nom + '--' + centre.localisation}}" *ngFor="let centre of nomCentre">
                {{centre.nom}} -- {{centre.localisation}}</option>
            </select>
          </div>

          <div class="mb-2 col-lg-6 px-3">
            <label for="dateproduction" class="form-label">Date de Production:</label>
            <input formControlName="dateproduction" [(ngModel)]="stock.dateproduction" id="dateproduction" type="date" class="form-control">

          </div>

          <div class="mb-2 col-lg-6 px-3">
            <label for="dateexpiration" class="form-label">Date d'expiration:</label>
            <input formControlName="dateexpiration" [(ngModel)]="stock.dateexpiration" id="dateexpiration" type="date" class="form-control">
          </div>
          <div class="ms-lg-5 pt-3">
            <div class="my-4 col-lg-6 text-center ms-lg-5">
              <button class="btn btn-success ms-lg-5" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
