<h1>Les Centre de Senté</h1>

<div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Nom de Centre</th>
            <th>Localisation</th>
            <th>Type</th>
            <th>Action</th>
        </thead>
        <tbody *ngIf="centres.length">
            <tr *ngFor="let centre of centres">
                <td>{{ centre.id}}</td>
                <td>{{centre.nom}}</td>
                <td>{{centre.localisation}} </td>
                <td> {{centre.type}}</td>
                <td><button class="btn btn-info" routerLink="/edit/{{centre.id}}">Edit</button>&nbsp; <button class="btn btn-danger" (click)="deleteCentre(centre.id)" >Delete</button></td>
            </tr>
        </tbody>
    </table>    
</div>
<div>
    <button class="btn btn-primary" routerLink="/add">Add New Centre</button>
</div>