<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/admin/home">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto pt-2 ms-lg-3 ms-md-0 ms-sm-0">
        <li class="nav-item">
          <h5 class="nav-link fw-semibold">Hello {{email}},</h5>
        </li>
      </ul>
      <ul class="navbar-nav pt-2 me-lg-3 me-md-3 me-sm-3 mb-lg-2 mb-md-2">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/admin/centre">Les structures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/admin/vaccin">Les vaccins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/admin/profile/{{id}}">profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/admin/utilisateur">Les utilisateurs</a>
        </li>
      </ul>
      <button class="nav-link btn btn-danger py-1 px-2 fw-bold text-white" data-bs-toggle="modal" data-bs-target=".bs-example-modal-sm">
        Deconnecter</button>

    </div>
  </div>
</nav>

<!-- Logout Confirmation -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Deconnecter <fa-icon [icon]="falock"></fa-icon></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i>Vous etes sur vous voulez déconnecter?</div>
      <div class="modal-footer"><a class="btn btn-danger btn-block" (click)="logout()">Deconnecter</a></div>
    </div>
  </div>
</div>
