<app-nav-bar></app-nav-bar>

<div class="container bg-white position-relative my-5 px-5 pb-5 pt-2 rounded shadow-sm">

  <h6 class="position-absolute top-0 start-0 translate-middle ps-5 ms-5 pb-4">Le Stock des vaccins</h6>

  <div>
   <div class="position-absolute top-0 end-0 mt-2 me-2 add-btn ms-3">
    <button type="button" class="btn btn-outline-primary py-2" routerLink="/stock/create">Ajouter un nouveaux
      stock</button>
  </div>

  <!-- search bar -->
  <div class="input-group row w-50 me-4 d-flex align-items-center justify-content-center">
    <div class="form-outline col-lg-12 col-md-12">
      <input type="search" id="form1" class="form-control" placeholder=Recherche class="form-control" [(ngModel)]="searchText"/>
    </div>
  </div>

  </div>

  <div class="table-responsive fs-sm-5">
    <table class="table mt-4">
    <thead>

      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom de Vaccin</th>
        <th scope="col">Quantité</th>
        <th scope="col">Lieu</th>
        <th scope="col">Date de Production</th>
        <th scope="col">Date d'expiration</th>
        <th scope="col">№ lot</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks | search : searchText ; let i = index" [ngClass]="{'outOfStock': stock.quantite <= 50 }">
        <td scope="row">{{i + 1}}</td>
        <td>{{ stock.nomvaccin }}</td>
        <td>{{ stock.quantite }}</td>
        <td>{{ stock.lieu }}</td>
        <td>{{stock.dateproduction}}</td>
        <td>{{stock.dateproduction}}</td>
        <td>{{stock.N_lot}}</td>
        <td>
          <button routerLink="/stock/edit/{{stock.id}}" class="btn btn-info text-white col-sm-12 w-75">Modifier</button>
          <button class="btn btn-danger mt-1 col-sm-12 w-75" (click)="deleteStock(stock.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>

  </table>
  </div>
</div>


