<nav class="navbar navbar-expand-md sticky-top border-bottom bg-white mb-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>

      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto pt-2 ms-lg-3 ms-md-0 ms-sm-0">
          <li class="nav-item">
            <h5 class="nav-link fw-semibold">Hello {{email}},</h5>
          </li>
        </ul>
        <ul class="navbar-nav pt-2 me-lg-3 me-md-3 me-sm-3 mb-lg-2 mb-md-2">
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="/stock">Les stocks</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="/profile/{{id}}">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold">Planning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="/person-vaccinee/person">Les vaccinées</a>
          </li>
        </ul>

        <button class="nav-link btn btn-danger py-1 px-2 fw-bold text-white" (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>

  <!-- stock notification -->
  <div class="stockAlert" *ngFor="let stock of stocks">
    <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between p-0 m-1" role="alert" *ngIf="stock.quantite <=50">
      <p class="pt-3 ps-3"> le stock de {{stock.nomvaccin}} est sur le point d'épuiser</p>
      <button type="button" class="close btn me-4 fs-3" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
    </div>
  </div>
