<form>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom de Centre</label>
      <input type="text" class="form-control" #nom>
    </div>
    <div class="mb-3">
      <label for="localisation" class="form-label">Localisation</label>
      <input type="text" class="form-control" #localisation>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input type="text" class="form-control" #type>
      </div>
    <button type="button" (click)="add(nom.value ,localisation.value, type.value);nom.value='';localisation.value='';type.value=''" class="btn btn-success">Add</button>
  </form>