<app-admin-home></app-admin-home>


<div class="mx-5">
  <div class="container bg-white rounded d-flex justify-content-center position-relative shadow-sm">
    <div class="row">
      <div class="position-absolute top-0 end-0 pt-3 pe-auto">
        <fa-icon [icon]="faArrowLeft" routerLink="/admin/centre" role="button"></fa-icon>
      </div>
      <h5 class="mt-3 mb-5 col-lg-12 text-center">Modifier les info du centre</h5>

      <form class="col-lg-12 p-3">
        <div class="row">

          <div class="mb-2 col-lg-12">
            <label for="nom" class="form-label">Nom de Centre</label>
            <input type="text" class="form-control" [(ngModel)]="centre.nom"  name="nom" #nom>
          </div>
          <div class="mb-2 col-lg-12">
            <label for="localisation" class="form-label">Localisation</label>
            <input type="text" class="form-control"  [(ngModel)]="centre.localisation" name="localisation" #localisation>
          </div>
          <div class="mb-2 col-lg-12">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" name="type" #type>
              <option  value="{{centre.type}}" selected>{{centre.type}}</option>
              <option value="Hopital">Hopital</option>
              <option value="Centre de centé">Centre de centé</option>
              <option value="Poste de centé">Poste de centé</option>
            </select>
          </div>

          <div class="ms-lg-2">
            <div class="my-4 col-lg-6 text-center ms-lg-5">

              <button type="submit" class="btn btn-success ms-lg-5" (click)="update(nom.value ,localisation.value, type.value)">Modifier</button>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
