<app-nav-bar class="hide-print"></app-nav-bar>

<div class="card mx-5 my-3">
  <div class="card-body">
    <div class="container mb-5 mt-3">
      <div class="row d-flex align-items-baseline">
        <div class="col-xl-9 mb-2">
          <img src="../../../assets/images/Seal_of_Mauritania_(2018).svg.png" alt="RIM logo">
        </div>
        <hr>
      </div>

      <div class="container">


        <div class="row">
          <div class="col-lg-9 col-md-6 col-sm-6">
            <p class="text-muted">Information</p>
            <ul class="list-unstyled">
              <li class="text-muted"> <span class="fw-bold">NNI :
                </span>{{personvaccinee.nni}}</li>
              <li class="text-muted"> <span class="fw-bold">Nom et Prenom :
                </span>{{personvaccinee.name + ' ' + personvaccinee.prenom}}</li>
              <li class="text-muted"> <span class="me-1 fw-bold">Age : </span>{{personvaccinee.age}}</li>

              <li class="text-muted"> <span class="me-1 fw-bold">Sexe : </span>{{personvaccinee.sex}}</li>
              <li class="text-muted"> <span class="me-1 fw-bold">№ Lot </span>{{personvaccinee.N_lot}}</li>
            </ul>

          </div>

          <div class="col-lg-2 col-md-6 ms-lg-5 col-sm-6">
            <qr-code [value]="qrData" [size]="180"></qr-code>
          </div>

        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                <th scope="col">Lieu</th>
                <th scope="col">Date Actuel</th>
                <th scope="col">Date prochain</th>
                <th scope="col">Nom vaccin</th>
                <th scope="col">Nbr de dose</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{personvaccinee.lieu}}</td>
                <td>{{personvaccinee.dateactuel}}</td>
                <td>{{personvaccinee.dateprochaine}}</td>
                <td>{{personvaccinee.nomvaccin}}</td>
                <td>{{personvaccinee.nbrdose}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-10">
            <p>Chaque personne vaccinée contribue à sauver des vies</p>
          </div>
          <div class="col-xl-2">
            <button (click)="printPage()" class="btn btn-primary text-capitalize btn-print">print</button>

            <button type="button" class="btn btn-danger text-capitalize ms-3 btn-print" data-bs-toggle="modal" data-bs-target="#exampleModalLong">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bg-white" id="exampleModalLongTitle">Cartographie</h5>
        <button type="button" class="close rounded bg-danger px-2 text-white" ata-bs-dismiss="modal" aria-bs-label="Close">
          <span aria-bs-hidden="true text-white">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group mb-2 col-lg-12">
          <label for="name">Email de vaccinée</label>
          <input type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
        </div>


      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>
</div>
