h6{
  padding:0px 0px 30px 155px;
}

button{
  font-weight: 600;
}

.add-btn button{
  font-size: 12px;
}

table button{
  color: white;
}
.custom-pagination ::ng-deep .ngx-pagination .current {
  background: #0DCAF0;
  border-radius: 2px;
}
