
<app-navbar></app-navbar>



<div class="container bg-white position-relative  my-5 px-5 pb-5 pt-2 rounded shadow-sm">

  <h6 class="position-absolute top-0 start-0 translate-middle ps-3 ms-5 pb-4">Les Utilisateurs</h6>


  <div>
    <div class="position-absolute top-0 end-0 mt-2 me-2 add-btn ms-3">
     <button type="button" class="btn btn-outline-primary py-2" routerLink="/admin/add-user">Ajouter un nouveaux utilisateur</button>
   </div>

   <!-- search bar -->
   <div class="input-group row w-50 me-4 d-flex align-items-center justify-content-center">
     <div class="form-outline col-lg-12 col-md-12">
       <input type="search" id="form1" class="form-control" placeholder=Recherche class="form-control" [(ngModel)]="searchText"/>
     </div>
   </div>
   </div>
   <div class="table-responsive fs-sm-5 ">

  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom d'utilisateur</th>
        <th scope="col">Email</th>
        <th scope="col">centre</th>
        <th scope="col">User Type</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody *ngIf="users.length">
      <tr *ngFor="let user of users | search : searchText ; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.nom}}</td>
        <td>{{user.email}}</td>
        <td>{{user.centre}}</td>
          <td *ngIf="user.userType == 1">Admin</td>
          <td *ngIf="user.userType == 0">User</td>
        <td>
          <button class="btn btn-success me-lg-4" *ngIf="user.userType == 0" (click)="madeAdmin(user.id)">Nommer admin</button>
          <button class="btn btn-info me-lg-4" *ngIf="user.userType == 1" (click)="deleteAdmin(user.id)">Revoquer d'admin</button>
          <button class="btn btn-danger " (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
