:root{
  --bg : #F5F5F5;
  --btn : #2196F3;
  --input : #6F6AF8;
}
.login{
  background-color: var(--bg);
  height: 100vh;
}
form{
  margin-top: 100px;
  max-height: 350px;
}
.btn-login{
  margin-left: 50px;
  margin-top: 20px;
}
.form-link{
  font-size: 10px;
}
.profile
{
  width: 90px;
  height: 90px;
  position: absolute;
  z-index: 1;
  margin-top: 50px;
}

