<div  class="d-flex justify-content-center bg-light login">
  <!-- profile pic -->
  <img class="rounded-circle profile" alt="profile"src="https://yt3.googleusercontent.com/xIPexCvioEFPIq_nuEOOsv129614S3K-AblTK2P1L9GvVIZ6wmhz7VyCT-aENMZfCzXU-qUpaA=s900-c-k-c0x00ffffff-no-rj" >

<form class="rounded-3 border p-5 bg-white">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label fw-semibold" for="email">Email</label>
    <input type="email" id="email" class="form-control bg-light" />
  </div>
  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label fw-semibold" for="mdp">Mot de passe</label>
    <input type="password" id="mdp" class="form-control bg-light" />
    <div class="paswd-link">
      <!-- forget password link -->
      <a href="#!" class="form-link float-start">Mot de passe oublie ?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4 btn-login">Connecter</button>
  <div>
      <!-- registr link -->
    <a routerLink="/register" class="form-link float-end">créer un compte </a>
  </div>
</form>
</div>
