<div class="container">
  
    <div class="d-flex justify-content-between">
      <h4>Edit stock</h4>
      <a href="#" routerLink="/stock/index" class="btn btn-primaryt">Back</a>
    </div>

    <hr>

    <form [formGroup]="form" (ngSubmit)="submit()">


        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="nomvaccin">Nom de Vaccin:</label>
              <input
                formControlName="nomvaccin"
                [(ngModel)]="stock.nomvaccin"
                id="nomvaccin"
                type="text"
                class="form-control">
              <div *ngIf="f.nomvaccin.touched && f.nomvaccin.invalid" class="alert alert-danger">
                  <div *ngIf="f.nomvaccin.errors?.required">*nomvaccin is required.</div>
                  <div *ngIf="f.nomvaccin.errors?.pattern">*The nomvaccin must only contain letters.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="quantite">Quantité:</label>
              <input
                formControlName="quantite"
                [(ngModel)]="stock.quantite"
                id="quantite"
                type="text"
                class="form-control">
              <div *ngIf="f.quantite.touched && f.quantite.invalid" class="alert alert-danger">
                  <div *ngIf="f.quantite.errors?.required">*quantite is required.</div>
                  <div *ngIf="f.quantite.errors?.pattern">*The quantite must be a valid quantite address.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="lieu">Lieu:</label>
              <input
                [(ngModel)]="stock.lieu"
                formControlName="lieu"
                id="lieu"
                type="text"
                class="form-control">
              <div *ngIf="f.lieu.touched && f.lieu.invalid" class="alert alert-danger">
                  <div *ngIf="f.lieu.errors?.required">*Phone is required.</div>
                  <div *ngIf="f.lieu.errors?.pattern">*The phone must only contain numbers.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="dateproduction">Date de Production:</label>
              <input
                [(ngModel)]="stock.dateproduction"
                formControlName="dateproduction"
                id="dateproduction"
                type="date"
                class="form-control">
              <div *ngIf="f.dateproduction.touched && f.dateproduction.invalid" class="alert alert-danger">
                  <div *ngIf="f.dateproduction.errors?.required">*dateproduction is required.</div>
                  <div *ngIf="f.dateproduction.errors?.pattern">*The dateproduction must only contain numbers.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="dateexpiration">Date d'expiration:</label>
              <input
                [(ngModel)]="stock.dateexpiration"
                formControlName="dateexpiration"
                id="dateexpiration"
                type="date"
                class="form-control">
              <div *ngIf="f.dateexpiration.touched && f.dateexpiration.invalid" class="alert alert-danger">
                  <div *ngIf="f.dateexpiration.errors?.required">*dateexpiration is required.</div>
                  <div *ngIf="f.dateexpiration.errors?.pattern">*The dateexpiration must only contain numbers.</div>
              </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
