<section>

    <div class="d-flex justify-content-between">
      <h4>Les Stocks :</h4>
      <a routerLink="/stock/create" class="btn btn-success">Create New Stock</a>
    </div>

    <br>
    
    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Nom de Vaccin</th>
        <th>Quantité</th>
        <th>Lieu</th>
        <th>Date de Production</th>
        <th>Date d'expiration</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.id }}</td>
        <td>{{ stock.nomvaccin }}</td>
        <td>{{ stock.quantite }}</td>
        <td>{{ stock.lieu }}</td>
        <td>{{stock.dateproduction}}</td>
        <td>{{stock.dateexpiration}}</td>
        <td>
          <a href="#" [routerLink]="['/stock/', 'edit', stock.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteStock(stock.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </section>
