<app-nav-bar></app-nav-bar>

<div class="container bg-white position-relative  my-5 px-5 pb-5 pt-2 rounded shadow-sm">
  <h6 class="position-absolute top-0 start-0 translate-middle ">Les Personnes vaccinneé</h6>


  <div>
    <div class="position-absolute top-0 end-0 mt-2 me-2 add-btn ms-3">
     <button type="button" class="btn btn-outline-primary py-2" routerLink="/person-vaccinee/new">Ajouter nouveaux vaccinee</button>
   </div>

  <!-- search bar -->
  <div class="input-group row w-50 me-4 d-flex align-items-center justify-content-center">
    <div class="form-outline col-lg-12 col-md-12">
      <input type="search" id="form1" class="form-control" placeholder=Recherche class="form-control" [(ngModel)]="searchText"/>
    </div>
  </div>

   </div>

  <div class="table-responsive fs-sm-5">

      <table class="table mt-5 fs-md-6">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NNI</th>
          <th scope="col">Nom et Prenom</th>
          <th scope="col">Lieu</th>
          <th scope="col">vaccin</th>
          <th scope="col">Nbr dose</th>
          <th scope="col">Terminer le Vaccin</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
        <tbody *ngFor="let person of persons | search : searchText ;let i = index">

          <th scope="row">{{i + 1}}</th>
          <td>{{person.nni}}</td>
          <td>{{ person.name }} {{ person.prenom }}</td>
          <td>{{person.lieu}}</td>
          <td>{{person.nomvaccin}}</td>
          <td>{{person.nbrdose}}</td>
          <td>{{person.terminervaccin}}</td>
          <td>
            <button routerLink="/person-vaccinee/modify/{{person.id}}" class="btn bg-info text-white">Edit</button>
            <button  class="btn btn-black bg-secondary text-white ms-2" routerLink="/person-vaccinee/info/{{person.id}}">voir plus</button>
            <button class="btn btn-danger ms-2 bg-danger" (click)="deletePerson(person.id)">Delete</button>
          </td>
          </tbody>
      </table>
      </div>
