<app-home></app-home>

<div class="container bg-white position-relative my-5 p-5 rounded shadow-sm">
  <h6 class="position-absolute top-0 start-0 translate-middle ">Les Personnes vaccinneé</h6>


  <div class="position-absolute top-0 end-0 mt-2 me-2 add-btn">
    <button type="button" class="btn btn-outline-primary py-2" routerLink="/person-vaccinee/new">Ajouter nouveaux vaccinee</button>
  </div>

  <div class="table-responsive fs-sm-5 ">
      <table class="table table-hover mt-5 fs-md-6">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NNI</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">vaccin</th>
          <th scope="col">Nbr dose</th>
          <th scope="col">Terminer le Vaccin</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
        <tbody *ngFor="let person of persons ;let i = index">

          <th scope="row">{{i + 1}}</th>
          <td>{{person.nni}}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.prenom }}</td>
          <td>{{person.nomvaccin}}</td>
          <td>{{person.nbrdose}}</td>
          <td>{{person.terminervaccin}}</td>
          <td>
            <button routerLink="/person-vaccinee/modify/{{person.id}}" class="btn bg-info text-white">Edit</button>
            <button  class="btn btn-black bg-secondary text-white ms-2" routerLink="/person-vaccinee/info/{{person.id}}">voir plus</button>

            <button class="btn btn-danger ms-2 bg-danger" (click)="deletePerson(person.id)">Delete</button>
          </td>
          </tbody>
      </table>
      </div>
