<app-navbar></app-navbar>


<div class="mx-5">
  <div class="container bg-white rounded d-flex justify-content-center position-relative shadow-sm">
    <div class="row">
      <div class="position-absolute top-0 end-0 pt-3 pe-auto">
        <fa-icon [icon]="faArrowLeft" routerLink="/admin/vaccin" role="button"></fa-icon>
      </div>
      <h5 class="mt-3 mb-5 col-lg-12 text-center">Modifier les info du vaccin</h5>

      <form class="col-lg-12 p-3" [formGroup]="form" (ngSubmit)="submit()">
        <div class="row">

          <div class="mb-2 col-lg-6 px-3">
            <label for="nom" class="form-label">Nom de Vaccin</label>
            <input type="text" class="form-control" formControlName="nom" [(ngModel)]="vaccin.nom"
              placeholder="le nom de vaccin" #nom>
            <div *ngIf="f.nom.touched && f.nom.invalid" class="alert alert-danger">
              <div *ngIf="f.nom.errors?.required">*Name is required.</div>
            </div>
          </div>
          <div class="mb-2 col-lg-6 px-3">
            <label for="type" class="form-label">Fabricant</label>
            <input type="text" class="form-control" formControlName="fabricant" [(ngModel)]="vaccin.fabricant" #fabricant>
            <div *ngIf="f.fabricant.touched && f.fabricant.invalid" class="alert alert-danger">
              <div *ngIf="f.fabricant.errors?.required">*Fabricant is required.</div>
            </div>
          </div>

          <div class="mb-2 col-lg-6 px-3">
            <label for="pays" class="form-label">Pays Fabricant</label>
            <input type="text" class="form-control" formControlName="pays" [(ngModel)]="vaccin.pays" #pays>
            <div *ngIf="f.pays.touched && f.pays.invalid" class="alert alert-danger">
              <div *ngIf="f.pays.errors?.required">*Date fab is required.</div>
            </div>
          </div>

          <div class="mb-2 col-lg-6 px-3">
            <label for="type" class="form-label">Nombre de dose max</label>
            <input type="text" class="form-control" formControlName="nbr_dose" [(ngModel)]="vaccin.nbr_dose" #nbr_dose>
            <div *ngIf="f.nbr_dose.touched && f.nbr_dose.invalid" class="alert alert-danger">
              <div *ngIf="f.nbr_dose.errors?.required">*Date exp is required.</div>
            </div>
          </div>


          <div class="ms-lg-5 pt-3">
            <div class="my-4 col-lg-6 text-center ms-lg-5">
              <button type="submit" class="btn btn-success ms-lg-2">Modifier</button>

            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
