<form>
    <div class="mb-3">
      <label for="nom" class="form-label">Nom de Centre</label>
      <input type="text" class="form-control" [(ngModel)]="centre.nom" name="nom" #nom>
    </div>
    <div class="mb-3">
      <label for="localisation" class="form-label">Localisation</label>
      <input type="text" class="form-control" [(ngModel)]="centre.localisation" name="localisation" #localisation>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input type="text" class="form-control" [(ngModel)]="centre.type" name="type" #type>
      </div>
    <button type="button" (click)="update(nom.value ,localisation.value, type.value)" class="btn btn-success">Update</button>
  </form>