<app-navbar></app-navbar>


<div class="mx-5">
  <div class="container bg-white rounded d-flex justify-content-center position-relative shadow-sm">
    <div class="row">
      <div class="position-absolute top-0 end-0 pt-3 pe-auto">
        <fa-icon [icon]="faArrowLeft" routerLink="/admin/centre" role="button"></fa-icon>
      </div>
      <h5 class="mt-3 mb-5 col-lg-12 text-center">Ajouter un nouveau structure</h5>

      <form class="col-lg-12 p-3">
        <div class="row">

          <div class="mb-2 col-lg-12">
            <label for="nom" class="form-label">Nom de Centre</label>
            <input type="text" class="form-control" #nom>
          </div>

          <div class="mb-2 col-lg-12">
            <label for="wilayaa" class="form-label">Wilayaa</label>
            <input type="text" class="form-control" #wilayaa>
          </div>

          <div class="mb-2 col-lg-12">
            <label for="mougataa" class="form-label">Mougataa</label>
            <input type="text" class="form-control" #mougataa>
          </div>

          <div class="mb-2 col-lg-12">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" #type>
              <option value="" disabled selected>Selectionner le type</option>
              <option value="Hopital">Hopital</option>
              <option value="Centre de centé">Centre de centé</option>
              <option value="Poste de centé">Poste de centé</option>
            </select>
          </div>

          <div class="ms-lg-2">
            <div class="my-4 col-lg-6 text-center ms-lg-5">

              <button type="button" class="btn btn-success ms-lg-5"
                (click)="add(nom.value ,wilayaa.value,mougataa.value, type.value);nom.value='';wilayaa.value='';mougataa.value='';type.value=''">Ajouter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
